name: DUModZ Translator Bot

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */4 * * *' # প্রতি ৪ ঘণ্টা রিস্টার্ট
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install pyTelegramBotAPI deep-translator langdetect

      - name: Run Premium Bot
        timeout-minutes: 235
        run: python bot.py
